---
layout: layouts/main.njk
title: About
---

<div class="about">
  <section>
    <h2>About</h2>
    <div class="about-company">
      <img
        src="/img/logo.png"
        alt="GK Neumann"
        class="about-company-image"
        loading="lazy"
      />
      <table class="about-company-table">
        <tr>
          <th>Company name</th>
          <td>GK Neumann</td>
        </tr>
        <tr>
          <th>Head Office Address</th>
          <td>
            2-39-7, Sano Miharashidai, Mishima Shi, Shizuoka Ken, 411-0041,
            Japan
          </td>
        </tr>
        <tr>
          <th>Numazu Office Address</th>
          <td>
            201, 31-3, Yoshidacho, Numazu Shi, Shizuoka Ken, 410-0836, Japan
          </td>
        </tr>
        <tr>
          <th>CEO</th>
          <td>Kazuki Baba</td>
        </tr>
        <tr>
          <th>Established</th>
          <td>September, 2019</td>
        </tr>
      </table>
    </div>
  </section>

  <section>
    <h2>About CEO: Kazuki Baba</h2>
    <div class="about-ceo">
      <img
        src="/img/kbaba1001.jpg"
        class="about-ceo-image"
        alt="Kazuki Baba"
        loading="lazy"
      />
      <div class="about-ceo-description">
        <p>
          After graduating from Nagoya Institute of Technology with a bachelor's
          degree in Information Technology, he joined Eiwa System Management Co.
          After engaging in contract development using Agile and Ruby, he
          started Gupipo Inc. with an acquaintance. After that, he worked as a
          freelance developer. After working as a freelancer, he established GK
          Neumann. He specializes in detailed development based on his many
          years of experience in contract development.
        </p>
        <p>
          In addition to IT, he has experience in businesses such as share house
          management and illustration production. He plans to continue to work
          in a wide range of activities regardless of industry.
        </p>
        <div class="about-ceo-sns">
          <a
            href="https://www.kbaba1001.com"
            target="_blank"
            rel="noopener"
            class="about-ceo-sns-link"
          >
            <img
              src="/img/sns/hatena-blog.png"
              alt="blog"
              class="about-ceo-sns-image"
              loading="lazy"
            />
          </a>

          <a
            href="https://twitter.com/kbaba1001"
            target="_blank"
            rel="noopener"
            class="about-ceo-sns-link"
          >
            <img
              src="/img/sns/twitter.png"
              alt="twitter"
              class="about-ceo-sns-image"
              loading="lazy"
            />
          </a>
          <a
            href="https://www.instagram.com/kbaba1001"
            target="_blank"
            rel="noopener"
            class="about-ceo-sns-link"
          >
            <img
              src="/img/sns/instagram.png"
              alt="Instagram"
              class="about-ceo-sns-image"
              loading="lazy"
            />
          </a>
        </div>
      </div>
    </div>
  </section>

  <section>
    <h2>About the illustration on the top page</h2>
    <div class="about-top-illustration">
      <img
        src="/img/mainvisual.png"
        class="about-top-illustration-image"
        alt="Lisp Monster Leading a Girl"
        loading="lazy"
      />
      <div class="about-top-illustration-description">
        <h3>Lisp Monster Leading a Girl</h3>
        <p>
          This is a picture of a Lisp Monster who leads a girl with a smartphone
          into the world of Lisp.
        </p>
        <p>
          This picture was painted by a member of our company. Permission to use
          Lisp Monster is granted by Mr. Conrad Barski, author of "Land of
          Lisp".
        </p>
      </div>
    </div>
  </section>
</div>
