---
layout: layouts/top.njk
title: TOP
---

<main class="new-index-layout-main">
  <div class="top-concept">
    <div class="top-concept-card">
      <picture>
        <source
          srcset="/img/top-concept_2x.jpg"
          media="(min-width: 801px)"
          class="top-concept-card-image"
          alt="High Quality, Global Company, Remote Work"
          loading="lazy"
        />
        <img
          src="/img/sp_top-concept.jpg"
          class="top-concept-card-image"
          alt="High Quality, Global Company, Remote Work"
          loading="lazy"
        />
      </picture>
      <div class="top-concept-card-title-container">
        <div class="top-concept-card-title">
          <h2 class="top-concept-card-title-bold">
            High Quality, Global Company, Remote Work
          </h2>
          <div class="top-concept-card-title-button-container">
            <a href="#company-slogan" class="top-concept-card-title-learn_more">
              Learn more
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="top-concept-description">
      We are a team of engineers to support your business and development.
    </div>
  </div>

  <section class="top-contact-us">
    {{ comp.inquiryButton() | safe }}
  </section>

  <div class="top-container">
    <div class="top-strong-points-cards">
      <div class="top-strong-points-card">
        <img
          src="/img/01_high_01.jpg"
          alt="High-quality development"
          loading="lazy"
          class="top-strong-points-card-image"
        />
        <div class="top-strong-points-card-text">
          <h3 class="top-strong-points-card-title">High-quality development</h3>
          <div class="top-strong-points-card-description">
            Quality is everything. We maintain a high level of quality by
            practicing feedback development. This is a system that allows us to
            present a working prototype from the early stages of system
            development to confirm that the system is meeting what the client's
            needs, and using any feedback to help develop exactly what the
            client wants.
          </div>
        </div>
      </div>

      <div class="top-strong-points-card">
        <img
          src="/img/02_pro_04.jpg"
          alt="Team of specialists with experience"
          loading="lazy"
          class="top-strong-points-card-image"
        />
        <div class="top-strong-points-card-text">
          <h3 class="top-strong-points-card-title">
            Team of specialists with experience
          </h3>
          <div class="top-strong-points-card-description">
            <p>
              Our team of experienced engineers can help your company develop
              all of your IT needs from design to implementation.
            </p>
            <p>
              We help explain the process of designing and maintaining their IT
              needs in an easy-to-understand manner. Our experts also stay
              abreast of industry trends and utilize the latest technologies to
              provide the best solutions for our clients' needs.
            </p>
          </div>
        </div>
      </div>

      <div class="top-strong-points-card">
        <img
          src="/img/03_com_03.jpg"
          alt="Communication and Transparency"
          loading="lazy"
          class="top-strong-points-card-image"
        />
        <div class="top-strong-points-card-text">
          <h3 class="top-strong-points-card-title">
            Communication and Transparency
          </h3>
          <div class="top-strong-points-card-description">
            Each of our clients is kept up to date in the development process
            through a weekly or biweekly review. We use the feedback from the
            client, their points of concern, or additional requests, and use
            that feedback in the development process. By repeatedly practicing
            this feedback development, we continue to improve the quality of the
            system.
          </div>
        </div>
      </div>
    </div>
    <div class="top-strong-points-card">
      <img
        src="/img/04_remote_01.jpg"
        alt="Full remote support"
        loading="lazy"
        class="top-strong-points-card-image"
      />
      <div class="top-strong-points-card-text">
        <h3 class="top-strong-points-card-title">Full remote support</h3>
        <div class="top-strong-points-card-description">
          All of our system development is performed remotely. We conduct
          everything from online meetings and hearings, to development and
          operations. In addition to engineers in Japan, our bilingual staff
          also has Nepalese engineers. Working remotely allows Neumann Tokyo Inc
          to continuously work on the development and maintenance of all our
          clients' changing needs.
        </div>
      </div>
    </div>
  </div>

  <section class="top-contact-us">
    {{ comp.inquiryButton() | safe }}
  </section>

  <div class="top-h2-container">
    <h2>Services</h2>
  </div>

  <div class="top-container">
    <div class="top-description">
      <p>
        Web system development, Business system development, Smartphone app
        development
      </p>
      <p>
        Neumann Tokyo Inc. provides web system development, business system
        development, and smartphone app development. We also support one-off
        orders and the creation of Lab-type development teams.
      </p>
      <p>
        For web system development, we specialize in both, back-end and
        front-end development using Clojure, Node.js, and React. For application
        development, we use Flutter for cross-platform development.
      </p>
      <p>
        We use scrum development to help provide the most value for our clients.
        All development, testing, and refactoring are done by the same team. We
        also have staff members who are fluent in English and are available for
        sprint reviews.
      </p>
    </div>
  </div>

  <div class="top-h2-container">
    <h2>Development Achievements</h2>
  </div>

  <div class="top-container">
    <h3 class="top-h3">Web system development</h3>
    <div>
      Inventory management, sales management, order management, recruitment
      personnel management
    </div>
    <div class="top-strong-points-cards">
      <div class="top-strong-points-card">
        <img
          src="/img/01_kenzai_01.jpg"
          alt="EC site for a major building materials sales company"
          loading="lazy"
          class="top-strong-points-card-image"
        />
        <div class="top-strong-points-card-text">
          <h4 class="top-strong-points-card-title">
            EC site for a major building materials sales company
          </h4>
          <div class="top-strong-points-card-description">
            <p>
              We developed, tested, and maintained an EC site for the sale and
              management of building materials. The sales screen allows users to
              search for products by product name, manufacturer name, or part
              number to make it easier to find products from their wide ranging
              catalog.
            </p>
            <h5>Technologies used</h5>
            <ul class="top-technologies-used-list">
              <li>Languages: Ruby, JavaScript</li>
              <li>Frameworks: Ruby on Rails, Vue.js</li>
              <li>Database: PostgreSQL</li>
              <li>Server environment: AWS</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="top-strong-points-card">
        <img
          src="/img/02_test_01.jpg"
          alt="Building an Appropriate Ability Testing System"
          loading="lazy"
          class="top-strong-points-card-image"
        />
        <div class="top-strong-points-card-text">
          <h4 class="top-strong-points-card-title">
            Building an Appropriate Ability Testing System
          </h4>
          <div class="top-strong-points-card-description">
            <p>
              We designed, developed, tested, and maintained an aptitude testing
              system to determine whether the skills of new graduates match what
              the companies are looking for.<BR /> We developed, performed the
              safety testing, and maintained an appropriate ability testing
              system that can visualize a wide range of items, such as the
              characteristics and personality of job seekers, and whether or not
              they are a match with the company.<BR />
              We designed the test to be very easy to use. Using the feedback of
              the test results to the examinees, the system has been used by
              many corporate recruiters as a tool that encourages self-analysis,
              and helps in future career choices. Based on the experience and
              expertise that we have accumulated over the years, we were able to
              design and maintain a complete competency testing system.
            </p>
            <h5>Technologies used</h5>
            <ul>
              <li>Languages: Ruby, JavaScript</li>
              <li>Frameworks: Ruby on Rails, React</li>
              <li>Database: PostgreSQL</li>
              <li>Server environment: AWS</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="top-container">
    <h3 class="top-h3">Business system development</h3>
    <div>
      Product management, inventory management, sales management, order
      management, process management
    </div>
    <div class="top-strong-points-cards">
      <div class="top-strong-points-card">
        <img
          src="/img/03_zaiko_01.jpg"
          alt="Merchandise management system for a store selling local specialty
            products"
          loading="lazy"
          class="top-strong-points-card-image"
        />
        <div class="top-strong-points-card-text">
          <h4 class="top-strong-points-card-title">
            Merchandise management system for a store selling local specialty
            products
          </h4>
          <div class="top-strong-points-card-description">
            <p>
              We developed a product management system that simplifies and
              streamlines the complex and arduous tasks of inventory management,
              order receipt and delivery, and the other daily operations for a
              store that sells local specialty products. This system also
              enables the store to prevent order errors, ensure sufficient time
              for product procurement, analyze data to identify consumer needs,
              and helps develop products based on the best-selling items. This
              system saves time with automated records of incoming and outgoing
              shipments and order confirmation emails. All of this can be done
              via a computer or smart tablet. Since the system handles a wide
              variety of products, we designed for the staff to quickly look up
              the storage location and selling price of products. The system
              enables centralized management of product characteristics,
              inventory counts, and sales history. Our client is very pleased
              with the system, as it has not only improved the operational
              efficiency of the store, but it also has helped in revitalizing
              their local economy.
            </p>
            <h5>Technologies used</h5>
            <ul>
              <li>Languages: Ruby, JavaScript</li>
              <li>Frameworks: Ruby on Rails, Next.js</li>
              <li>Database: PostgreSQL</li>
              <li>Server environment: GCP (Cloud Run)</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="top-container">
    <h3 class="top-h3">Smartphone application development</h3>
    <p>
      Customer management, document management, reservation system, membership
      system, email SNS distribution system, quotation system
    </p>

    <div class="top-strong-points-cards">
      <div class="top-strong-points-card">
        <img
          src="/img/04_fin_01.jpg"
          alt="New client acquisition app for a financial planning company"
          loading="lazy"
          class="top-strong-points-card-image"
        />
        <div class="top-strong-points-card-text">
          <h4 class="top-strong-points-card-title">
            New client acquisition app for a financial planning company
          </h4>
          <div class="top-strong-points-card-description">
            <p>
              We developed a money management application that can be used by a
              wide range of people, from beginners to more advanced users. This
              system helps them to acquire new clients for more effective asset
              building and management, as well as consulting.
            </p>
            <dl>
              <dt class="top-dt">UI design by household age</dt>
              <dd>
                We designed an UI that allows users to use their age to gain a
                concrete image of future home purchases, investment plans,
                retirement planning, etc.
              </dd>
              <dt class="top-dt">
                Function to schedule a consultation with a financial planner
              </dt>
              <dd>
                Appointments can be made with financial planners. The customer
                can directly consult with a financial planner to get help with
                their portfolio or other financial questions they might have.
              </dd>
              <dt class="top-dt">Various money simulator functions</dt>
              <dd>
                Users can input their own assets to predict their future income
                and expenditures, and then use that data for future asset
                building.
              </dd>
              <dt class="top-dt">Paid subscriber function for blog contents</dt>
              <dd>
                Supports both free and paid subscriber memberships. Hundreds of
                articles can be viewed from within the app. If users "want to
                learn more," they can move to a paid subscription which gives
                them access to the latest articles and special app-specific
                content.
              </dd>
              <dt class="top-dt">Lead management to SNS</dt>
              <dd>
                We are also actively disseminating information on SNS. For this
                reason, we have set up a lead-in for users to view the client's
                money knowledge information dissemination on YouTube and Twitter
                from the app as well.
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="top-contact-us">
    {{ comp.inquiryButton() | safe }}
  </section>

  <div class="top-h2-container" id="company-slogan">
    <h2>Corporate Motto</h2>
  </div>
  <div class="top-container">
    <section>
      <h3 class="top-h3">High Quality, Global Company, Remote Work</h3>
      <p>
        This is a our corporate motto. Each of them has the following meanings.
      </p>
      <dl class="top-slogans">
        <dt class="top-slogan-title">High Quality</dt>
        <dd>We guarantee high quality for your success.</dd>
        <dt class="top-slogan-title">Global Company</dt>
        <dd>We have teams that work across the globe.</dd>
        <dt class="top-slogan-title">Remote Work</dt>
        <dd>We move beyond location limitations by working remotely.</dd>
      </dl>
    </section>
    <section>
      <h3 class="top-h3" id="about-us">About Us</h3>
      <div class="about-company">
        <img
          src="/img/logo.webp"
          alt="Neumann Tokyo Inc."
          class="about-company-image"
          loading="lazy"
        />
        <table class="about-company-table">
          <tr>
            <th>Company Name</th>
            <td>Neumann Tokyo Inc.</td>
          </tr>
          <tr>
            <th>Address</th>
            <td>
              2-39-7 Sano Miharashidai, <br />
              Mishima City, Shizuoka<br />
              Japan, 411-0041<br />
            </td>
          </tr>
          <tr>
            <th>CEO</th>
            <td>Kazuki Baba</td>
          </tr>
          <tr>
            <th>Established</th>
            <td>24 September, 2019</td>
          </tr>
          <tr>
            <th>Capital</th>
            <td>5,000,000 JPY</td>
          </tr>
        </table>
      </div>
    </section>

    <section>
      <h3 class="top-h3">About CEO Kazuki Baba</h3>
      <div class="about-ceo">
        <img
          src="/img/kbaba1001.webp"
          class="about-ceo-image"
          alt="Kazuki Baba"
          loading="lazy"
        />
        <div class="about-ceo-description">
          <ul>
            <li>
              Has over 10 years of experience in server-side development.  Mainly using Clojure, JavaScript, etc.
            </li>
            <li>
              Has deep knowledge and experience in front-end development using React, TypeScript, ClojureScript, etc.
            </li>
            <li>
              Is capable of data analysis and design in RDBMS (mainly PostgreSQL)
            </li>
            <li>Conducts infrastructure construction using Docker, GCP, AWS</li>
          </ul>
        </div>
      </div>
    </section>
  </div>

  <section class="top-contact-us">
    {{ comp.inquiryButton() | safe }}
  </section>
</main>
