---
layout: layouts/top.njk
title: TOP
dummyTitle: Lorem ipsum dolor sit amet, consectetur adipiscing elit.
dummyText:
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pretium hendrerit mollis. Donec sagittis dolor et felis placerat tempus ut ut elit. Praesent porttitor congue enim, id sodales ipsum. Proin gravida dictum varius. Proin eu arcu feugiat libero interdum eleifend a sodales arcu. Ut sit amet tempus orci. Maecenas consequat rutrum ultricies. Praesent consectetur, mauris eget euismod dictum, justo ligula egestas neque, quis mollis felis felis a turpis. Aenean augue orci, malesuada eu posuere ac, cursus a sapien.
  Fusce suscipit ultrices felis, ut malesuada turpis tempor et. Aenean accumsan massa tellus. Cras a molestie tellus, id auctor felis. Donec cursus nisl ipsum, nec suscipit magna sollicitudin a. Phasellus semper accumsan maximus. Aenean tristique ultricies sagittis. Praesent lorem leo, mattis sit amet arcu non, scelerisque aliquet enim. Etiam non risus eget dolor imperdiet ullamcorper ut et enim. Suspendisse blandit ex nec pretium tincidunt.
  Integer porta tempor ex, sed tincidunt est vestibulum eu. Praesent ullamcorper, elit at accumsan facilisis, leo diam luctus lacus, congue accumsan massa nulla et nulla. Morbi dapibus elit elit, eu auctor neque faucibus quis. Vivamus semper risus eu malesuada luctus. Nam interdum molestie elit non pharetra. Cras at dolor eget purus efficitur maximus. Ut feugiat, urna at volutpat malesuada, risus lectus fermentum libero, non volutpat urna ex quis lectus. Mauris facilisis diam quis arcu ornare, eu vestibulum tortor interdum. Suspendisse congue euismod sapien, ut luctus lacus tempus quis. Curabitur non nisl enim. Mauris risus purus, tincidunt in justo in, vestibulum viverra nunc.
---

<main class="new-index-layout-main">
  <div class="top-concept">
    <div class="top-concept-card">
      <img
        src="/img/top-concept_2x.jpg"
        class="top-concept-card-image"
        alt="High Quality, Global Company, Remote Work"
        loading="lazy"
      />
      <div class="top-concept-card-title-container">
        <div class="top-concept-card-title">
          <h2 class="top-concept-card-title-bold">
            High Quality, Global Company, Remote Work
          </h2>
          <div class="top-concept-card-title-button-container">
            <a href="#company-slogan" class="top-concept-card-title-learn_more">
              Learn more
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="top-concept-description">
      We are a team of engineers to support your business and development.
    </div>
  </div>

  <div class="top-container">
    <div class="top-strong-points-cards">
      <div class="top-strong-points-card">
        <img
          src="/img/600x600.png"
          alt="600x600"
          loading="lazy"
          class="top-strong-points-card-image"
        />
        <div class="top-strong-points-card-text">
          <h3 class="top-strong-points-card-title">WEBシステム開発</h3>
          <div class="top-strong-points-card-description">{{ dummyText }}</div>
        </div>
      </div>

      <div class="top-strong-points-card">
        <img
          src="/img/600x600.png"
          alt="600x600"
          loading="lazy"
          class="top-strong-points-card-image"
        />
        <div class="top-strong-points-card-text">
          <h3 class="top-strong-points-card-title">ホームページ制作</h3>
          <div class="top-strong-points-card-description">{{ dummyText }}</div>
        </div>
      </div>

      <div class="top-strong-points-card">
        <img
          src="/img/600x600.png"
          alt="600x600"
          loading="lazy"
          class="top-strong-points-card-image"
        />
        <div class="top-strong-points-card-text">
          <h3 class="top-strong-points-card-title">スマートフォンアプリ開発</h3>
          <div class="top-strong-points-card-description">{{ dummyText }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="top-h2-container">
    　<h2>技術について</h2>
  </div>
  </div>

  <div class="top-container">
    <div class="top-strong-points-cards">
      <div class="top-strong-points-card">
        <img
          src="/img/600x600.png"
          alt="600x600"
          loading="lazy"
          class="top-strong-points-card-image"
        />
        <div class="top-strong-points-card-text">
          <h3 class="top-strong-points-card-title">Clojure</h3>
          <div class="top-strong-points-card-description">{{ dummyText }}</div>
        </div>
      </div>

      <div class="top-strong-points-card">
        <img
          src="/img/600x600.png"
          alt="600x600"
          loading="lazy"
          class="top-strong-points-card-image"
        />
        <div class="top-strong-points-card-text">
          <h3 class="top-strong-points-card-title">Flutter</h3>
          <div class="top-strong-points-card-description">{{ dummyText }}</div>
        </div>
      </div>

      <div class="top-strong-points-card">
        <img
          src="/img/600x600.png"
          alt="600x600"
          loading="lazy"
          class="top-strong-points-card-image"
        />
        <div class="top-strong-points-card-text">
          <h3 class="top-strong-points-card-title">JavaScript</h3>
          <div class="top-strong-points-card-description">{{ dummyText }}</div>
        </div>
      </div>
    </div>
  </div>

  <section class="top-contact-us">
    {{ comp.inquiryButton() | safe }}
  </section>
  
  <div class="top-h2-container">
    　<h2>これまでの制作事例</h2>
  </div>
  <section class="carousel" aria-label="Gallery">
  <ol class="carousel__viewport">
    <li id="carousel__slide1"
        tabindex="0"
        class="carousel__slide">
      <div class="">
        ここに内容その１
      
      
      </div>






      <div class="carousel__snapper">
        <a href="#carousel__slide4"
           class="carousel__prev">Go to last slide</a>
        <a href="#carousel__slide2"
           class="carousel__next">Go to next slide</a>
      </div>
    </li>
    <li id="carousel__slide2"
        tabindex="0"
        class="carousel__slide">
      <div class="carousel__snapper"></div>
      <a href="#carousel__slide1"
         class="carousel__prev">Go to previous slide</a>
      <a href="#carousel__slide3"
         class="carousel__next">Go to next slide</a>
    </li>
    <li id="carousel__slide3"
        tabindex="0"
        class="carousel__slide">
      <div class="carousel__snapper"></div>
      <a href="#carousel__slide2"
         class="carousel__prev">Go to previous slide</a>
      <a href="#carousel__slide4"
         class="carousel__next">Go to next slide</a>
    </li>
    <li id="carousel__slide4"
        tabindex="0"
        class="carousel__slide">
      <div class="carousel__snapper"></div>
      <a href="#carousel__slide3"
         class="carousel__prev">Go to previous slide</a>
      <a href="#carousel__slide1"
         class="carousel__next">Go to first slide</a>
    </li>
  </ol>
  <aside class="carousel__navigation">
    <ol class="carousel__navigation-list">
      <li class="carousel__navigation-item">
        <a href="#carousel__slide1"
           class="carousel__navigation-button">Go to slide 1</a>
      </li>
      <li class="carousel__navigation-item">
        <a href="#carousel__slide2"
           class="carousel__navigation-button">Go to slide 2</a>
      </li>
      <li class="carousel__navigation-item">
        <a href="#carousel__slide3"
           class="carousel__navigation-button">Go to slide 3</a>
      </li>
      <li class="carousel__navigation-item">
        <a href="#carousel__slide4"
           class="carousel__navigation-button">Go to slide 4</a>
      </li>
    </ol>
  </aside>
</section>



  <div class="top-h2-container" id="company-slogan">
    <h2>Company Slogan</h2>
  </div>
  <div class="top-container">
    <section>
      <h3 class="top-h3">High Quality, Global Company, Remote Work</h3>
      <p>
        ノイマントーキョー株式会社では上記を社是とします。それぞれに次の意味を込めています。
      </p>
      <dl class="top-slogans">
        <dt class="top-slogan-title">High Quality</dt>
        <dd>お客様に満足していただけるよう高品質であることを心がけます</dd>
        <dt class="top-slogan-title">Global Company</dt>
        <dd>グローバル企業として活躍できるように注力します</dd>
        <dt class="top-slogan-title">Remote Work</dt>
        <dd>テレワークにより場所を問わず活躍します</dd>
      </dl>
    </section>
    <section>
      <h3 class="top-h3" id="about-us">About Us</h3>
      <div class="about-company">
        <img
          src="/img/logo.webp"
          alt="Neumann Tokyo Inc."
          class="about-company-image"
          loading="lazy"
        />
        <table class="about-company-table">
          <tr>
            <th>Company Name</th>
            <td>Neumann Tokyo Inc.</td>
          </tr>
          <tr>
            <th>Address</th>
            <td>
              2-39-7, Sano Miharashidai, Mishima Shi, Shizuoka Ken, 411-0041,
              Japan
            </td>
          </tr>
          <tr>
            <th>CEO</th>
            <td>Kazuki Baba</td>
          </tr>
          <tr>
            <th>Established</th>
            <td>24 September, 2019</td>
          </tr>
          <tr>
            <th>Capital</th>
            <td>5,000,000 JPY</td>
          </tr>
        </table>
      </div>
    </section>

    <section>
      <h3 class="top-h3">About CEO Kazuki Baba</h3>
      <div class="about-ceo">
        <img
          src="/img/kbaba1001.webp"
          class="about-ceo-image"
          alt="Kazuki Baba"
          loading="lazy"
        />
        <div class="about-ceo-description">
          <ul>
            <li>
              Has over 10 years of experience in server-side development, mainly
              using Clojure, JavaScript etc.
            </li>
            <li>
              Has deep knowledge and experience in front-end development using
              React, TypeScript, ClojureScript, etc.
            </li>
            <li>
              Is capable of data analysis and design in RDBMS (mainly
              PostgreSQL)
            </li>
            <li>Conducts infrastructure construction using Docker, GCP, AWS</li>
          </ul>
        </div>
      </div>
    </section>
  </div>

  <section class="top-contact-us">
    {{ comp.inquiryButton() | safe }}
  </section>
</main>
