---
layout: layouts/main.njk
title: Achievements
---

<div class="jobs">
  <section>
    <h2>Achievements</h2>
    <div class="jobs-cards">
      {% for job in jobs %}
      <div class="jobs-card">
        <div class="jobs-card-image-container">
          <img
            src="{{ job.image }}"
            alt="{{ job.name }}"
            class="jobs-card-image"
          />
        </div>
        <div class="jobs-card-description">
          <h3 class="jobs-card-title">
            {% if job.url %}
            <a
              href="{{ job.url }}"
              target="_blank"
              rel="noopener"
              class="jobs-card-title-link"
              >{{ job.name }}</a
            >
            {% else %}
            <span>{{ job.name }}</span>
            {% endif %}
          </h3>
          <div class="jobs-card-description-text">
            <ul>
              {% for text in job.description %}
              <li>{{ text }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>

  <section>
    <div class="jobs-appeal">
      We have developed many others.
      <br />
      Please contact us.
    </div>

    <div class="jobs-appeal-inquiry-button-container">
      {{ comp.inquiryButton() | safe }}
    </div>
  </section>
</div>
