<nav class="header-nav">
  <div class="header-language">
    <img src="/img/japanese.jpg">
    <a href="https://www.neumann.tokyo" class="header-language-link"
      >Japanese</a
    >
  </div>
  <ul class="header-nav-list">
    <li>
      <a href="/articles" class="header-nav-list-link">BLOG</a>
    </li>
    <li>
      <a
        href="https://docs.google.com/forms/d/e/1FAIpQLSc5x8oljX1xmwDa09k4cV96r_7o2nC1mJWqv7LXw6o1btZlKg/viewform"
        target="_blank"
        rel="noopener"
        class="header-nav-list-link"
        >Contact Us</a
      >
    </li>
  </ul>
  <div class="sp-header-menu">
    <input
      type="checkbox"
      id="sp-header-menu"
      class="sp-header-menu-checkbox"
    />
    <label for="sp-header-menu">
      <img src="/img/menu.png" alt="menu" class="sp-header-menu-button" />
    </label>
    <label for="sp-header-menu" class="sp-header-nav-background"> </label>
    <div class="sp-header-nav-modal">
      <div class="sp-header-nav-modal-content">
        <ul class="sp-header-nav-list">
          <li>
            <a href="/articles" class="sp-header-nav-list-link">BLOG</a>
          </li>
          <li>
            <a
              href="https://docs.google.com/forms/d/e/1FAIpQLSc5x8oljX1xmwDa09k4cV96r_7o2nC1mJWqv7LXw6o1btZlKg/viewform"
              target="_blank"
              rel="noopener"
              class="sp-header-nav-list-link"
              >Contact Us</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
