<nav class="header-nav">
  <ul class="header-nav-list">
    <li><a href="/about" class="header-nav-list-link">About</a></li>
    <li><a href="/jobs" class="header-nav-list-link">Achievements</a></li>
    <li>
      <a href="/projects" class="header-nav-list-link">Projects</a>
    </li>
    <li>
      <a
        href="https://forms.gle/YcyxTbakcoN1sjgf8"
        target="_blank"
        rel="noopener"
        class="header-nav-list-link"
        >Contact Us</a
      >
    </li>
  </ul>
  <div class="sp-header-menu">
    <input
      type="checkbox"
      id="sp-header-menu"
      class="sp-header-menu-checkbox"
    />
    <label for="sp-header-menu">
      <img src="/img/menu.png" alt="menu" class="sp-header-menu-button" />
    </label>
    <label for="sp-header-menu" class="sp-header-nav-background"> </label>
    <div class="sp-header-nav-modal">
      <div class="sp-header-nav-modal-content">
        <ul class="sp-header-nav-list">
          <li><a href="/about" class="sp-header-nav-list-link">About</a></li>
          <li>
            <a href="/jobs" class="sp-header-nav-list-link">Achievements</a>
          </li>
          <li>
            <a href="/projects" class="sp-header-nav-list-link">Projects</a>
          </li>
          <li>
            <a
              href="https://forms.gle/YcyxTbakcoN1sjgf8"
              target="_blank"
              rel="noopener"
              class="sp-header-nav-list-link"
              >Contact Us</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
